################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XmlToJson/obj/Debug
/XmlToJson/bin/Debug
/.vs/XmlToJson/v15/Server/sqlite3
